In [1]:
print("hello everyone")
print("hello")

hello everyone
hello

## Operator

In [9]:
a=25
b=16
print(a>b and b==a)# the "and " operator checks the condition and give output as True if both the statements are true

# for above "a > b" is true but "a == b" is false so the output is False

False

In [12]:
a=25
b=16
print(a>b or b==a)# the "or " operator checks the condition and give output as True if one of the statements is true

# for above "a > b" is true but "a == b" is false so the output is True

False

In [11]:
a=25
b=16
print(not a>b) # "not"  just reverses the result 

# the above statement "a > b" is true as 25 > 16 but the "not " operator reverses the result and gives False as output

False

## Print statement

In [2]:
a=input("what's your name?: ")
print("hello")
print(a)
print("Hello",a) #using "," to concatenate will add space between the words
print("hello"+a) # using "+" to concatenate will eliminate space between the words

what's your name?: ram
hello
ram
Hello ram
helloram

In [4]:
name=input("name:")
age=input("age:")
print("hello", name,"How are you?so you are ",age,"years old.")# Multiple ", " can be used to concatenate different strings
print("hello"+" "+ name,"How are you?so you are ",age,"years old.")# Combination of "," and "+"  can also be used

name:angaraj
age:15
hello angaraj How are you?so you are  15 years old.

## Casting

In [3]:
a=2.456 # Suppose you have this number but want the integer part only  so you need to change the data type 
a=int(a)# In this way you can do this
print(a)
a=str(a)# you can even change any data type into string
print(a)

2
2

In [7]:
# the only consideration you must follow is while changing string to other data type
a="3.45"
b="24"
c="Hello"
print(float(a)) # you can change string "a" to float "a" because the conversion is valid
# However if you try to directly convert string "a " to integer "a" error will arise
print(int(b))#same is the case with this

3.45
24

In [6]:
#howerver you can never convert a character containing string into other data type


print(int(c))# this will make error to rise

ValueError: invalid literal for int() with base 10: 'Hello'